<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">

    <meta name="theme-color" content="#007aff">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>My App</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="framework7/framework7-bundle.min.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/accordion.css">
    <link rel="stylesheet" href="css/card.css">
</head>

<body>
    <div id="app">
        <div class="view view-main view-init safe-areas">
            <div class="page page-current" data-name="index">
                <div class="page-content" id="C6fkF">
                    <div style="position: relative;top: 50%;transform: translateY(-50%);text-align: center;">
                        <div class="row padding" id="jmGr7">
                            <div class="col-33"></div>
                            <div class="col-33" id="6jjHe">
                                <img src="https://console.etter.cloud/console/assets/icons/icon-512x512.png" width="128" id="RKEon">
                                <br>
                                <p id="X4FsX">
                                    Creator by ETTER</a>
                                </p>
                            </div>
                            <div class="col-33"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- uibuilder -->
    <script src="../uibuilder/vendor/socket.io/socket.io.js"></script>
    <script src="./uibuilderfe.min.js"></script>
    <script src="js/uibuilder.js"></script>

    <!-- Beautifier -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.3/beautify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.3/beautify-css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.3/beautify-html.min.js"></script>

    <!-- framework7 -->
    <script src="framework7/framework7-bundle.min.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/app.js"></script>

    <!-- Pro -->
    <script src="js/pro.js"></script>
</body>

</html>