<div class="page page-current" data-name="about">
    <div class="navbar no-shadow no-border">
        <div class="navbar-bg"></div>
        <div class="navbar-inner navbar-inner-centered-title">
            <div class="left">
                <a class="link icon-only">
                    <i class="icon material-icons">chevron_left</i>
                </a>
            </div>
            <div class="title" style="left: 0px;">Title</div>
            <div class="right">
                <a class="link icon-only ripple-inset">
                    <i class="f7-icons">chat_bubble_text</i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content"></div>
</div>